.jumbotron {
    background-color: yellowgreen;
    color: black;
    margin-top: 50px;
}


.footer {
    padding: 10px 10px 10px;
    background-color: yellowgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-producto {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-compra {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

/* .imagen-tienda{
    margin: 10px 10px 10px 10px;
} */

.tab-content {
    padding-top: 10px;
}