$yellow: #fffa19;

@mixin margenes($top, $botton){
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}


.footer {
    padding: 10px 10px 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-producto {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-compra {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}